[Unit]
Description=Vacation Plan Engine Service
Requires=vplan_engine.socket
After=network.target

[Service]
ExecStart=%h/.local/bin/uvicorn vplan.engine.server:API --uds %h/.config/vplan/run/engine.sock
Environment=PYTHONUNBUFFERED=1
Restart=on-failure

[Install]
WantedBy=default.target