[Unit]
Description=Vacation Plan Manager Service
Requires=vplan_engine.service

[Service]
ExecStart=%h/.local/bin/vplan_manager --local-socket=%h/.config/vplan/run/engine.sock
Environment=PYTHONUNBUFFERED=1
Restart=on-failure

[Install]
WantedBy=default.target